<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Use virtual repo for restore -->
    <add key="Artifactory" value="https://aingress.jfrog.io/artifactory/api/nuget/nuget-virtual" />
    <!-- Keep nuget.org defined but disabled -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <disabledPackageSources>
    <!-- Disable public source to enforce internal package usage -->
    <add key="nuget.org" value="true" />
  </disabledPackageSources>

  <packageSourceCredentials>
    <!-- Restore source credentials -->
    <Artifactory>
      <add key="Username" value="%JF_USERNAME%" />
      <add key="ClearTextPassword" value="%JF_TOKEN%" />
    </Artifactory>

</configuration>
